.footer {
  &__nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: white;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    box-shadow: 0px 80px 100px 10px rgba(0, 0, 0, 0.2);
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__text {
    padding: 18px;
  }

  &__button {
    padding: 20px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: white;
    transition: 0.5s;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    cursor: pointer;
  }

  &__button:active {
    transform: scale(0.9);
  }

  &__description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  &__link {
    color: rgb(139, 30, 30);
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }

  &__link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
  }

  &__link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 2px; /* Высота линии */
    background-color: rgb(139, 30, 30);
    transition: width 0.3s;
  }

  &__delete {
    font-family: "Cormorant Garamond", serif;
    padding: 17px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
  }
  &__button:hover,
  &__delete:hover {
    background-color: rgb(189, 54, 24);
    color: white;
  }

  &__delete:active {
    transform: scale(0.9);
  }
}