.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 0;
    padding: 40px 0;
    font-size: 60px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media (320px <=width <=900px) {
  .header {
    &__title {
      font-size: 40px;
    }
  }
}
