.list {
  &__item_form {
    display: flex;
    transition: 0.5s;
    border: none;
  }

  &__item {
    display: flex;
    font-size: 30px;
    transition: 0.2s;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    padding-left: 5px;
  }

  &__checkbox {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
  }

  &__checkbox:hover {
    background-color: rgb(255, 255, 255);
  }

  &__checkbox:active {
    background-image: url("./check-icon.png");
    background-size: 95%;
    transform: scale(0.8);
    box-shadow: 0px 20px 100px 23px rgb(156 209 255);
    background-color: rgb(242, 249, 255);
  }

  &__checkbox__check {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    background-size: 80%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./check-icon.png");
    background-size: 95%;
  }

  &__delete {
    font-family: "Cormorant Garamond", serif;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
  }

  &__delete:hover {
    background-color: rgb(189, 54, 24);
    color: white;
  }

  &__delete:active {
    transform: scale(0.9);
  }

  &__input {
    padding: 10px;
    outline: none;
    border: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }

  &__input:focus {
    background-color: white;
    border-bottom: 1px solid rgba(188, 54, 24, 0.4);
  }

  &__text {
    padding: 5px;
    text-align: start;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    transition: 0.3s;
  }

  &__input__completed {
    padding: 10px;
    outline: none;
    border: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-align: center;
    transition: 0.5s;
    text-decoration: line-through;
    text-emphasis-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  &__text__completed {
    text-decoration: line-through;
    text-emphasis-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.3s;
  }

  &__text:hover,
  &__text__completed:hover,
  &__input__completed:hover,
  &__input:hover {
    color: black;
    transition: 0.2s;
  }

  &__button{
    visibility: hidden;
  }
}
