@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Londrina+Solid:wght@100;300;400;900&display=swap");

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}


/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin: 0;
  padding: 40px 0;
  font-size: 60px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

/* /HEADER */

/* MAIN */


.main__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 500px;
  margin: 0 auto;

}


form {
  display: flex;
  border-bottom: 4px solid rgb(188 54 24);
}

.main__input {
  flex: 1;
  padding: 20px;
  border: none;
  font-size: 25px;
  font-style: italic;
  color: rgb(0 0 0 / 70%);
  transition: 0.5s;
  outline: none;  
}

.main__input:focus{
 background-color:  rgb(242, 249, 255);
}
.main__delete,
.main__submit {
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 25px;
  background-color: white;
  transition: 0.2s;
  cursor: pointer;
}


li .main__submit {
  font-size: 16px;
  padding: 22px;
}


.main__input:hover {
  background-color: rgb(242, 249, 255);
  color: black;
}

.main__delete:active,
.main__submit:active {
  transform: scale(0.9);
}

.footer__button:hover,
.main__submit:hover,
.main__delete:hover  {
  background-color: rgb(189, 54, 24);
  color: white;
}

.main__list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0px 40px 100px 23px rgba(0, 0, 0, 0.2);

}

.main__item {
  display: flex;
  font-size: 20px;
  transition: 0.5s;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid black;
  padding-left: 5px;
}

/* .main__item:hover {
box-shadow: inset 0 100px 0 0 rgb(189, 54, 24);
color: white;
} */

.main__text {
padding: 5px;
text-align: start;
}

.main__text--completed {
  text-decoration: line-through;
  text-emphasis-color: rgba(0, 0, 0, 0.2);
}

.main__item:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.main__checkbox {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.main__checkbox:hover {
  background-color: rgb(242, 249, 255);
  color: white;
}

.main__checkbox:active {
  transform: scale(0.8);
  box-shadow: 0px 20px 100px 23px rgb(156 209 255);
  background-color: rgb(242, 249, 255);
}

/* /MAIN */

/* FOOTER */

.footer__nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: white;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  box-shadow: 0px 80px 100px 10px rgba(0, 0, 0, 0.2);
}

.footer__list {
  list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer__text {
  padding: 20px;
}

.footer__button {
  padding: 20px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.footer__button:active {
  transform: scale(0.9);
}
/* /FOOTER */
