@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Londrina+Solid:wght@100;300;400;900&display=swap");

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  background: -webkit-linear-gradient(174deg, #abd3d8, #acbdca, #aca7bb);
  background: linear-gradient(179deg, #ffffff, #cad7e1, #acd5ff);
}

p {
  padding: 0;
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin: 0;
  padding: 40px 0;
  font-size: 60px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

/* /HEADER */

/* MAIN */

.main__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 500px;
  margin: 0 auto;
}

form {
  display: flex;
  border-bottom: 4px solid rgb(188 54 24);
  transition: 0.2s;
}

form:hover {
  transform: translate(0, -3px);
  box-shadow: 0px 12px 20px 0px rgb(129 191 255);
}

.main__active--visible:hover{
  transform: translate(0, -3px);
  background-color: rgb(189, 54, 24);
  color: white;
}

.todo__input {
  flex: 1;
  padding: 20px;
  border: none;
  font-size: 25px;
  font-style: italic;
  color: rgb(0 0 0 / 70%);
  transition: 0.5s;
  outline: none;
}

.todo__input:focus {
  background: linear-gradient(180deg, #ffffff, #dfe6ec00);

}

.main__active {
visibility: hidden;
font-family: "Cormorant Garamond", serif;
    border: 0;
    background: white;
    text-transform: uppercase;
}

.main__active--visible {
  visibility: visible;
  font-family: "Cormorant Garamond", serif;
    border: 0;
    background: white;
    text-transform: uppercase;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
    transition: 0.3s;
}

.main__delete,
.main__submit {
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 25px;
  background-color: white;
  transition: 0.2s;
  cursor: pointer;
}

li .main__submit {
  font-size: 16px;
  padding: 22px;
}

.main__delete:active,
.main__submit:active {
  transform: scale(0.9);
}

.footer__button:hover,
.main__submit:hover {
  background-color: rgb(189, 54, 24);
  color: white;
}

.main::after {
  box-shadow: 0px 40px 100px 23px rgba(0, 0, 0, 0.2);
}

.main__list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.main__list::before {
  box-shadow: 0px 40px 100px 23px rgba(0, 0, 0, 0.2);
}

.main__item {
  display: flex;
  font-size: 30px;
  transition: 0.2s;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  padding-left: 5px;
}

.main__item:hover {
  box-shadow: inset 0 100px 0 0 rgb(177 209 242);
  color: white;
  transition: 0.5s;

  .main__delete {
    box-shadow: inset 0 100px 0 0 rgb(177 209 242);
    color: rgb(189, 54, 24);
    transition: 0.5s;
  }

  .main__input{
    box-shadow: inset 0 100px 0 0 rgb(177 209 242);
    color: white;
    transition: 0.5s;
  }

  .main__checkbox {
    color: white;
    transition: 0.5s;
    background-color: white;
  }

  .main__input--completed{
    text-decoration: line-through;
    text-emphasis-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 100px 0 0 rgb(177 209 242);
    color: white;
    transition: 0.5s;
  
  }
}

.main__checkbox--check {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.7);
  background-size: 80%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./check-icon.png");
  background-size: 95%;
}

.main__input {
  padding: 10px;
  outline: none;
  border: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  transition: 0.5s;
}

.main__input:focus {
  background-color: white;
  border-bottom: 2px solid rgb(188 54 24);
}

.main__text {
  padding: 5px;
  text-align: start;
}

.main__input--completed {
  padding: 10px;
  outline: none;
  border: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
  transition: 0.5s;
  text-decoration: line-through;
  text-emphasis-color: rgba(0, 0, 0, 0.2);
}

.main__input--completed:hover {
  text-decoration: line-through;
  text-emphasis-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 100px 0 0 rgb(177 209 242);
  color: white;
  transition: 0.5s;

}

.main__text--completed {
  text-decoration: line-through;
  text-emphasis-color: rgba(0, 0, 0, 0.2);
}

.main__checkbox {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.main__checkbox:hover {
  background-color: rgb(255, 255, 255);
}

.main__checkbox:active {
  background-image: url("./check-icon.png");
  background-size: 95%;
  transform: scale(0.8);
  box-shadow: 0px 20px 100px 23px rgb(156 209 255);
  background-color: rgb(242, 249, 255);
}

/* /MAIN */

/* FOOTER */

.footer__nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: white;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  box-shadow: 0px 80px 100px 10px rgba(0, 0, 0, 0.2);
}

.footer__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__text {
  padding: 18px;
}

.footer__button {
  padding: 20px;
  color: rgb(0, 0, 0);
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

.footer__button:active {
  transform: scale(0.9);
}

.footer__description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer__link {
  color: rgb(139, 30, 30);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.footer__link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s;
}

.footer__link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 2px; /* Высота линии */
  background-color: rgb(139, 30, 30);
  transition: width 0.3s;
}

/* /FOOTER */

/* MODILE */

@media (320px <=width <=900px) {
  body {
    height: 120vh;
  }

  .main__container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .todo__input {
    font-size: 20px;
  }

  form {
    flex-direction: column;
  }

  .footer__nav {
    flex-direction: column;
  }

  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

/* /MODILE */
